<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form class="pa4 black-80">
      <div class="measure">
        <label for="name" class="f6 b db mb2">Search Tag
          <span class="normal black-60">(required)</span>
        </label>
        <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
        <small id="name-desc" class="f6 red db mb2">Error text for the form control.</small>
      </div>
      <div class="measure mt3">
        <label for="name" class="f6 b db mb2">User Id
          <span class="normal black-60">(optional)</span>
        </label>
        <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
        <small id="name-desc" class="f6 red db mb2">Error text for the form control.</small>
      </div>
      <div class="">
        <input class=" b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="button" value="Cancel">
        <input class=" b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>